<h4>Birth Certificate Applications</h4>
<p>All submmited applications</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:30%">Name</th>
            <th style="width:10%">Sex</th>
            <th style="width:10%">DOB</th>
            <th style="width:30%">Parents</th>
            <th style="width:10%">Status</th>
            <th style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let certificate of certificates">
            <td>{{certificate.givenName | titlecase}} {{certificate.surname | titlecase}}</td>
            <td>{{certificate.sex | uppercase}}</td>
            <td>{{certificate.birthDate | date:'yyyy/MM/dd'}}</td>
            <td>
              {{certificate.fatherGivenName | titlecase }} {{certificate.fatherSurname | titlecase }} <br>
              {{certificate.motherGivenName | titlecase }} {{certificate.motherSurname | titlecase }}
            </td>
            <td style="white-space: nowrap">
              {{certificate.status ? "Approved" : "Pending" }}
            </td>
            <td style="white-space: nowrap">

              <a [routerLink]="[ 'detail',certificate._id ]" class="btn btn-sm btn-success mb-2">Review</a>

            </td>
        </tr>
        <tr *ngIf="!certificates">
            <td colspan="12" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>

